@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

.blue-link {
  color: #4182b4;
}

a, .blue-link {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}



@media (hover: hover) {
  a:hover {
    font-weight: bolder;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
